# Description

In this notebook, I will explore the dataset from Open Alex.

In [16]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Read data

In [17]:
PATH_DATA_CSV = r"/home/thaiv7/Desktop/python-project/scientific_paper/dataset/data/open_alex_paper_info.parquet"

In [18]:
df_data = pd.read_parquet(PATH_DATA_CSV)
print(f"Data shape: {df_data.shape}")
df_data.sample(2)

Data shape: (174, 10)

,arxiv_id,open_alex_id,title,first_author,number_of_citations,keywords,venue_type,venue_name,is_open_access,references
5,0704.3662,https://openalex.org/W1626543738,An Automated Evaluation Metric for Chinese Tex...,Mike Tian-Jian Jiang,0,"[Text entry, Edit distance]",repository,arXiv (Cornell University),False,"[https://openalex.org/W1642062763, https://ope..."
32,0707.1151,https://openalex.org/W1678118998,"Logic, Design & Organization of PTVD-SHAM; A P...",Philip Baback Alipour,2,[],repository,arXiv (Cornell University),False,"[https://openalex.org/W131540024, https://open..."

In [19]:
paper_title = "Stochastic Optimization Approaches for Solving Sudoku"

df_data[df_data['title'].str.lower() == paper_title.lower()]

Empty DataFrame
Columns: [arxiv_id, open_alex_id, title, first_author, number_of_citations, keywords, venue_type, venue_name, is_open_access, references]
Index: []