# Description

In this notebook, I will explore the dataset from Open Alex.

In [1]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Read data

In [2]:
HOME_DIR = r"/home/thaiv7/Desktop/python-project/scientific_paper/dataset/data" 
PATH_DATA_OPEN_ALEX = os.path.join(HOME_DIR, "open_alex_paper_info.parquet")

In [4]:
df_data = pd.read_parquet(PATH_DATA_OPEN_ALEX)
print(f"Data shape: {df_data.shape}")
df_data.sample(2)

Data shape: (8310, 9)

,arxiv_id,open_alex_id,title,first_author,number_of_citations,keywords,venue_type,venue_name,references
4209,1207.2632,https://openalex.org/W1606072898,On Optimal Top-K String Retrieval,Rahul Shah,6,[Linear space],repository,arXiv (Cornell University),"[https://openalex.org/W135814361, https://open..."
992,1201.0842,https://openalex.org/W1670818416,Performance of Modeling wireless networks in r...,Mohammad Siraj,11,"[Radio propagation model, Mobility model, Radi...",repository,arXiv (Cornell University),"[https://openalex.org/W1591718808, https://ope..."

In [ ]:
paper_title = "Stochastic Optimization Approaches for Solving Sudoku"

df_data[df_data['title'].str.lower() == paper_title.lower()]